html {
  background: black;
}
.overlay {
  position:relative;
  animation:slideIn infinite linear;
}

.container {
  position:relative;
  animation:slideIn infinite linear;
}

.img {
  position:relative;
  animation:slideIn infinite;
}

@keyframes mirror {
  transform: rotateX(180deg);
}

@keyframes slideIn {
  0%, 100% {
    transform: translate(10px) rotate(0deg);
    color: red;
  }
  25% {
    transform: translate(125px) rotate(360deg);
    color: green;
  }
}
