#bloomerImage {
  -webkit-animation-name: mirror;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: infinite;
}

@-webkit-keyframes mirror {
  from {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}
