html {
  background: black;
}

.img {
  position: relative;
  animation: rotate 2s infinite;
  animation-fill-mode: forwards;
}

#bloomerImage {
  position: relative;
  animation: rotate 2s infinite;
  animation-fill-mode: forwards;
}

@keyframes rotate {
    transform: rotateY(180deg);
}
