body {
  background: black;
}

.overlay {
  position: absolute;
  transition: 0.5s ease;
  display: none;
}

.container:hover .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

#bloomer {
  animation: rotate-it 1s infinite steps(2, end);
}

@keyframes rotate-it {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}
